*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

body, html{
  height:100%;
  margin:0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

Header{
  width: 100%;
  height: 80px;
  background-color:#000;
  line-height: 80px;
  position: fixed;
}

Header ul{
  float: right;
  margin-right: 30px;
}

Header ul li{
  list-style-type: none;
  display: inline-block;
}

Header ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px; 
}

#service{
    padding: 150px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service-left-col{
    flex-basis: 50%;
}
.service-left-col img{
    width: 100%;
}
.service-right-col{
    flex-basis: 50%;
    text-align: right;
}
.service-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.service-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.service-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}

.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}

/*----Features----*/

#features{
  padding-top: 50px;
  padding-bottom: 50px;
  position: static;
  text-align: center;
}
.feature-row{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-col{
  flex-basis: 25%;
  text-align: center;
  
}
.feature-col img{
  width: 100px;

}
.feature-col h4{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.feature-btn{
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.feature-btn .line{
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

/*----footer----*/

	#footer{
		padding: 20px 0 10px;
	}
	hr{
		width: 100%;
		border: 0;
		border-top: 1px solid #f67c92;
	}
	.footer-row{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer-left-col{
		flex-basis:80%;
		margin-top: 20px;
	}
	.footer-links{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.link-title h4{
		color: #fab3c4;
		margin-bottom: 10px;
	}
	.link-title small{
		font-size: 13px;
		color: #777;
	}
	.footer-info{
		display: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.footer-logo img{
		width: 100px;
	}
	.hr{
		flex-basis: 100%;
	}
	
/*----social icons----*/
  
	.social-icons{
		width: 50px;
		position: fixed;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 1;
	}
	.social-icons img{
		display: block;
		width: 20px;
		margin: 0 auto 20px;
		cursor: pointer;
	}
  