*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

body, html{
  height:100%;
  margin:0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

Header{
    width: 100%;
  height: 80px;
  background-color:#000;
  line-height: 80px;
  position: fixed;
}

Header ul{
  float: right;
  margin-right: 30px;
}

Header ul li{
  list-style-type: none;
  display: inline-block;
}

Header ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px; 
}

.teams{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2px;

}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.co1{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.team{
    background: #fff;
    padding: 30px;
}

.team img{
    width: 200px;
    height: 210px;
	
}

.name{
    font-size: 20px;
    margin: 20px 0;

}

h1{
	font-size: 40px;
	letter-spacing: 5px;
}

@media screen and (max-width:960px){
    .col{
        flex: 100%;
        max-width: 80%;
    }

}

@media screen and (max-width:600px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
}

#speaker{
    padding: 150px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.speaker{
    padding: -500px 20px;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*----footer----*/

	#footer{
		padding: 20px 0 10px;
	}
	hr{
		width: 100%;
		border: 0;
		border-top: 1px solid #f67c92;
	}
	.footer-row{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer-left-col{
		flex-basis:80%;
		margin-top: 20px;
	}
	.footer-links{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.link-title h4{
		color: #fab3c4;
		margin-bottom: 10px;
	}
	.link-title small{
		font-size: 13px;
		color: #777;
	}
	.footer-info{
		display: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.footer-logo img{
		width: 100px;
	}
	.hr{
		flex-basis: 100%;
	}
	
/*----social icons----*/
  
	.social-icons{
		width: 50px;
		position: fixed;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 1;
	}
	.social-icons img{
		display: block;
		width: 20px;
		margin: 0 auto 20px;
		cursor: pointer;
	}
  